xml/definicoes.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT cardapio (prato+)>
<!ELEMENT prato (id, nome, descricao, ingredientes, preco, tempo_preparo)>

<!ATTLIST prato id ID #REQUIRED>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ATTLIST preco moeda (BRL | USD) "BRL">

<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempo_preparo (#PCDATA)>

<!ENTITY reais "R$">