xsd/imobiliaria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Elemento raiz -->
  <xs:element name="imobiliaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="imovel" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="descricao" type="xs:string"/>
              <xs:element name="proprietario">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string"/>
                    <xs:choice maxOccurs="unbounded" minOccurs="1">
                      <xs:element name="email" type="xs:string"/>
                      <xs:element name="telefone" type="xs:string"/>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="endereco">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rua" type="xs:string"/>
                    <xs:element name="bairro" type="xs:string"/>
                    <xs:element name="cidade" type="xs:string"/>
                    <xs:element name="numero" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="caracteristicas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tamanho" type="xs:string"/>
                    <xs:element name="numQuartos" type="xs:string"/>
                    <xs:element name="numBanheiros" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="valor" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
